<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104014141746-27jnedpgh5ib3delf7m48pdk5q3dgi9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104014141746-27jnedpgh5ib3delf7m48pdk5q3dgi9v</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIpjTyelkjZSCkCpE-5vXZCgh2ObHiWc</string>
	<key>GCM_SENDER_ID</key>
	<string>104014141746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.Valuest.Valuest</string>
	<key>PROJECT_ID</key>
	<string>valuest-e2412</string>
	<key>STORAGE_BUCKET</key>
	<string>valuest-e2412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:104014141746:ios:2fe2075edcf7ec9364df2b</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
